#SITE & RELEASE SPECIFIC DATA

    {% set devstack_yoursvc_name = 'Keystone' %}
    {% set devstack_enabled_services = 'mysql,key' %}
    {% set devstack_yoursvc_version = 'v0.2.0' %}
    {% set devstack_yoursvc_port = '50040' %}
    {% set devstack_password = 'devstack' %}
    {% set devstack_yoursvc_type = devstack_yoursvc_name %}
    {% set devstack_yoursvc_endpoint = devstack_yoursvc_name ~ devstack_yoursvc_version %}
    {% set host_ip = grains.ipv4[-1] or '127.0.0.1' %}
    {% set db_host = '127.0.0.1' %}  {# https://bugs.launchpad.net/devstack/+bug/1735097 #}
    {% set host_ipv6 = grains.ipv6[-1] %}


#DATA DICTIONARY

devstack:
  hide_output: False    #view output from stack.sh
  local:
    username: stack
    password: {{ devstack_password }}
    enabled_services: {{ devstack_enabled_services }}
    os_password: {{ devstack_password }}
    host_ip: {{ host_ip }}
    host_ipv6: {{ host_ipv6 }}
    service_host: {{ host_ip or host_ipv6 }}
    db_host: {{ db_host }}

  cli:
    user:
      create:
        {{ devstack_yoursvc_name }}:
          options:
            domain: default
            password: {{ devstack_password }}
            project: service
            enable: True
      delete:
        demo:
          options:
            domain: default
        alt_demo:
          options:
            domain: default
    group:
      create:
        service:
          options:
            domain: default
      add user:
        service:
          target:
            - {{ devstack_yoursvc_name }}
        admins:
          options:
            domain: default
          target:
            - admin
    role:
      add:
        admin:
          options:
            project: service
            user: {{ devstack_yoursvc_name }}
        service:
          options:
            project: service
            group: service
    service:
      create:
        {{ devstack_yoursvc_type }}:
          options:
            name: {{ devstack_yoursvc_name }}
            type: identity
            description: {{ devstack_yoursvc_name }} Service
            enable: True
    endpoint:
      create:
        '{{ devstack_yoursvc_endpoint }} public https://{{ host_ip or host_ipv6 }}/{{ devstack_yoursvc_port }}/{{ devstack_yoursvc_version }}/%\(tenant_id\)s':
          options:
            region: RegionOne
            enable: True
        '{{ devstack_yoursvc_endpoint }} internal https://{{ host_ip or host_ipv6 }}/{{ devstack_yoursvc_port }}/{{ devstack_yoursvc_version }}/%\(tenant_id\)s':
          options:
            region: RegionOne
            enable: True
        '{{ devstack_yoursvc_endpoint }} admin https://{{ host_ip or host_ipv6 }}/{{ devstack_yoursvc_port }}/{{ devstack_yoursvc_version }}/%\(tenant_id\)s':
          options:
            region: RegionOne
            enable: True
    project:
      delete:
        demo:
          options:
            domain: default
        alt_demo:
          options:
            domain: default
        invisible_to_admin:
          options:
            domain: default

