#Minimal pillars might be
devstack:
  local:
    username: stack
    password: devstack
    enabled_services: 'mysql,key'     #needs quotes
    ### used by devstack openrc
    os_password: devstack

#Other custom pillars include ..
    reclone: yes
    git_base: 'https://git.example.org'
    git_branch: stable/pike
    git_url: 'https://git.example.org/openstack-dev/devstack'
    host_name: host1.example.com
    enable_httpd_mod_wsgi_services: True
    keystone_use_mod_wsgi: True
    logfile: really_long_filename_stack.sh.log
    logdays: 1000000
    verbose: True
    enable_debug_log_level: True
    ### used by devstack openrc ###
    os_password: soggydew
    service_host: 127.0.0.1
    host_ip: 127.0.0.1
    host_ipv6: 127.0.0.1
    odl_mgr_ip: 127.0.0.1

 dir:
    dest: /opt/home/stack         # Setting /home/<user>/ triggers stack.sh failure (0700 permissions)
    log: /tmp/stackyyy            # Setting /tmp/ triggers unstack.sh ('rm -f /tmp') bug
    config: /opt/home/stack/local.conf
    sudoers_file: /etc/sudoers.d/50_devstack_user
