{%- macro getcmd(outdict) -%}
  {%- for key, value in outdict.items() -%}
    {{- getargs(key, value) -}}
  {%- endfor -%}
{%- endmacro -%}

{%- macro getargs(k, v) %}
  {%- if v is mapping %}
    {{- getcmd(v) -}}
  {%- elif v is string or v is number %}
      {{- ' --' ~ k ~ ' ' if v == True else '' if v == False else ' --' ~ k ~ ' "' ~ v ~ '" ' -}}
  {%- elif v is iterable and v is not string -%}
      {{- getlist(v) -}}
  {%- endif -%}
{%- endmacro -%}

{%- macro getlist(mylist) -%}
  {%- if mylist and mylist is iterable and mylist is not string -%}
    {%- for v in mylist -%}
      {{- ' "' ~ v ~ '" ' -}}
    {%- endfor -%}
  {%- endif -%}
{%- endmacro -%}
